---
layout: default
---

  <h2>Bienvenue sur le site de l'atelier</h2>
  <p>
    L'atelier "Conception et évaluation de tableaux de bord d’apprentissage" est organisé dans le cadre des <a href="https://rjc-eiah-2022.univ-lille.fr/" target="_blank">neuvièmes rencontres jeunes chercheurs en EIAH (RJC EIAH 2022)</a> qui a eu lieu à Lille du 9 au 11 mai 2022. 
    Pour s'inscrire et y prendre part, merci de se rendre sur le site de la conférence en suivant le lien :
    <a href="https://rjc-eiah-2022.univ-lille.fr/tarifs-et-inscriptions" target="_blank">https://rjc-eiah-2022.univ-lille.fr/tarifs-et-inscriptions</a>
  </p>
 <p>
    Pour des raisons logistiques et d’organisation, nous vous demandons de bien vouloir renseigner le formulaire de participation disponible via le lien : 
   <a href="https://forms.gle/V91JyGWj3pFL1zrZ9 " target="_blank">https://forms.gle/V91JyGWj3pFL1zrZ9 </a>
  </p>
  <img src="img/lille.jpg">
<p>
  Cet atelier est une nouvelle étape dans la définition d’un processus complet sur la conception participative de tableaux de bord jusqu'à l’évaluation, utilisable par la communauté, qui sera publié dans une revue internationale.
</p>


<br/><br/>
<hr>
<time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>

{{ content }}

  
