---
layout: default
---

  <h2>Bienvenue sur le site de l'atelier</h2>
  <p>
    L'atelier "Visualiser des indicateurs de compétences : objectifs et verrous" est organisé dans le cadre des <a href="https://eiah2025.sciencesconf.org/resource/page/id/20" target="_blank">12ème conférence sur les  EIAH)</a> qui a eu lieu à Lille du 10 au 13 juin 2025. 
    Pour s'inscrire et y prendre part, merci de s'inscrire à la conférence. 
  </p>
 <p>  
<img src="img/lille.jpg">
   
L’objectif de cet atelier est d’explorer comment les tableaux de bord d’apprentissage (TBA), en tant qu’outils numériques d’analyse et de visualisation des données d’apprentissage, peuvent être enrichis et adaptés pour refléter précisément l’acquisition ou le suivi des compétences dans le cadre de l’approche par compétences (APC). Si l’APC transforme la pédagogie en se concentrant sur le développement de compétences transversales et applicables dans des contextes variés, elle soulève en revanche plusieurs défis pratiques. Parmi eux, la visualisation des progrès des apprenants dans l’acquisition des compétences reste une question centrale, tant pour les enseignants que pour les apprenants eux-mêmes. Cet atelier se propose donc de croiser les préoccupations des experts en APC et des spécialistes des TBA afin d’identifier les verrous qui freinent l’efficacité de ces outils et de proposer des pistes pour une meilleure intégration des indicateurs relatifs aux compétences dans les TBA.

Co-organisé par les 2 GT : <a href="http://www.atief.fr/content/gt-comp%C3%A9tences-et-eiah"  target="_blank">  “compétences et EIAH”</a> et <a href="http://www.atief.fr/content/gt-tba"  target="_blank"> “tableaux de bord d’apprentissage”</a> de l’ATIEF, cet atelier permettra de croiser les approches d’exploration et de formalisation issues de ces 2 GT. 

   
Sous forme de symposium, plusieurs présentations de recherches et d’outils existants permettront de faire le point sur l’état de l’art autour de ces questions. La deuxième partie de l’atelier conduira à un approfondissement de pistes de recherches au travers d’un travail collaboratif.



<br/><br/>
<hr>
<time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>

{{ content }}

  
